.fable/
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
output/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
**/BenchmarkDotNet.Artifacts/
/packages/
riderModule.iml
/_ReSharper.Caches/
MipCL213WrapperCpp.dll
Scip70WrapperCpp.dll
SourcingOptimization.CLI/Data/Result*
SourcingOptimization.CLI/Data/~$*
*miniexcelcache*
